.top-header {
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e00086;
}

.image-style {
  padding-top: 50px
}

@media (min-width: 1024px) {
  .top-header {
    margin: 90px;
    width: 50%;
  }

  .image-style {
    padding-top: 50px;
}
}